.checkboxWrapper {
  width: 90%;
  align-items: center;
  margin: 5px;

  input {
    width: 15%;
    margin: 0;
  }

  .smallText {
    font-size: 10px;
    width: 60%;
  }
}

.introHeading {
	margin-top: 2rem;
	font-size: 1.2rem;
	text-align: center;
}
